@font-face {
   font-family: neu;
   src: url(./NeueHaasDisplayMediu.ttf);
}

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html, body{
   width: 100%;
   height: 100%;
   color: rgb(239, 234, 227);
   font-family: neu, sans-serif;
}

.page1{
   height: 100vh;
   width: 100%;
   position: relative;
   background-color: rgb(239, 234, 227);
   padding: 0 2.5vw;
}

/*========================= navigation bar =========================*/
nav{
   height: 20vh;
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 2vw 0;
}

.nav-links{
   display: flex;
   align-items: center;
   gap: .5vw;
}

.nav-links h4{
   padding: 10px 20px;
   border: 1px solid #00000039;
   border-radius: 50px;
   font-weight: 400;
   color: #000000;
   position: relative;
   overflow: hidden;
   transition: all ease 0.3s;
}

.nav-links h4::after{
   content: "";
   position: absolute;
   height: 100%;
   width: 100%;
   background-color: #000000;
   left: 0;
   bottom: -100%;
   border-radius: 50%;
   transition: all ease 0.4s;
}

.nav-links h4:hover::after{
   bottom: 0;
   border-radius: 0;
}

.nav-links h4 a{
   text-decoration: none;
   z-index: 9;
   position: relative;
   color: #000000;
}

.nav-links h4:hover a{
   color: #ffffff;
}

/*========================= hero area =========================*/
.hero-area{
   width: 100%;
   height: 75vh;
   color: #000000;
   display: flex;
   justify-content: space-between;
   align-items: end;
   padding: 3vw 0;
   border-bottom: 1px solid rgb(156, 156, 156);
}

.hero-description{
   font-size: 28px;
   font-weight: 600;
   line-height: 28px;
}

.hero-title{
   font-size: 160px;
   font-weight: 700;
   line-height: 130px;
   text-align: end;
}

.hero-video{
   width: 100%;
   height: 100vh;
   padding: 2vw 2vw;
   background-color: rgb(239, 234, 227);
}

.hero-video video{
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 25px;
   display: none;
}

.shape-container{
   position: absolute;
   width: 45vw;
   height: 35vw;
}

.blurr-obj1{
   width: 100%;
   height: 100%;
   background: linear-gradient(rgb(254, 51, 10), rgb(254, 106, 27));
   /* background-color:  rgb(254, 106, 27); */
   filter: blur(20px);
   border-radius: 50%;
   position: absolute;
   right: -70vw;
   top: -10vw;
}

.blurr-obj2{
   width: 45vw;
   height: 35vw;
   background-color: rgb(254, 51, 10);
   filter: blur(30px);
   border-radius: 45%;
   position: absolute;
   right: -59vw;
   top: -7vw;
   animation-name: anime1;
   animation-duration: 2s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
   animation-direction: alternate;
}

@keyframes anime1{
   from{
      transform: translate(3%, 0%);
   }
   to{
      transform: translate(-3%, -10%);
   }
}

.blurr-obj3{
   width: 40VW;
   height: 35VW;
   background-color: rgb(254, 51, 10);
   filter: blur(20px);
   border-radius: 45%;
   position: absolute;
   right: -43vw;
   top: -5vw;
   animation-name: anime2;
   animation-duration: 2s;
   animation-delay: 2s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
   animation-direction: alternate;
}

@keyframes anime2{
   from{
      transform: translate(-2%,3%);
   }
   to{
      transform: translate(0,-5%);
   }
}